/* ---------------------------------------------------- default styles */

*:focus {outline: 0}
*::selection {background: #C8C8C8}

/* ---------------------------------------------------- animations */

.border-fade {
  transition: box-shadow 0.3s ease;
  transform: translateZ()
}

.no_touch .border-fade:hover {box-shadow: inset 0 0 0 30px #262626, 0 0 1px rgba(0,0,0,0)}

.drop-click:active {
  transform: scale(0.95);
}

/* ---------------------------------------------------- ng-animations  */

.ng-animate.ng-move,
.ng-animate.ng-enter,
.ng-animate.ng-leave {
  transition: all linear 0.5s
}

.ng-animate.ng-leave.ng-leave-active,
.ng-animate.ng-move,
.ng-animate.ng-enter {
  max-height: 0;
  opacity: 0
}

.ng-animate.ng-leave,
.ng-animate.ng-move.ng-move-active,
.ng-animate.ng-enter.ng-enter-active {
  max-height: 100px;
  opacity: 1
}

/* ---------------------------------------------------- classes  */

.no_break {white-space: nowrap}

/* ---------------------------------------------------- ng-classes */

.ng-cloak {display: none!important}

/* ---------------------------------------------------- loading bar  */

#progress {
  background-color: #1E1E1E;
  width: 100%;
  height: 15px
}

#progress div {
  width: 0;
  transition: width ease 1s
}

#track_downloaded {
  height: 14px;
  border-bottom: solid 1px #000
}

#track_position {
  background-color: #02C68E;
  height: 100%
}

/* ---------------------------------------------------- header  */

header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 5
}

#top_box {
  padding: 0 5% 0 75px;
  height: 75px;
  background-color: #262626;
  box-shadow: inset 0px 0px 3px 0px rgba(24,24,24,0.77)
}

#mix_art,
#logo {
  position: absolute;
  left: 0;
  height: 75px;
  width: 75px
}

#text_box {
  font-size: 1em;
  height: 75px;
  color: #fff;
  padding: 0 5% 0 0;
  text-align: right;
  text-transform: uppercase;
  width: 95%;
  border: none;
  font-family: "Squada One",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-shadow: 0px 0px 2px rgba(0,0,0,1);
  background: url(../assets/search.svg) no-repeat right 10px center;
  background-size: 30px 30px
}

#text_box:focus,
.no_background {background: none!important}

/* ---------------------------------------------------- main  */

main {margin: 90px 0 0 0}

/* ---------------------------------------------------- expanded  */

#expanded {
  padding: 35px 10%;
  border-bottom: dashed 1px #919696
}

#what {
  margin: 0 auto;
  max-width: 800px;
  font-family: 'Roboto Slab', serif
}

#what p {
  text-align: left;
  line-height: 1.8em;
  margin: 0;
  font-size: 0.9em
}

#what a {text-decoration: underline}

/* ---------------------------------------------------- details header  */

#below_header {
  overflow: auto;
  padding: 40px 5% 5px 5%;
  text-align: center;
  user-select: none
}

#status {
  margin-top: 15px;
  display: block;
  padding: 5px 10px;
  background-color: #76C1ED;
  color: #fff;
  border-radius: 5px
}

/* ---------------------------------------------------- tag cloud  */

#cloud {margin: 0}

.cloud_artist a:nth-child(n),
.cloud_tag a:nth-child(n),
.cloud_generic a:nth-child(n) {
  display: inline-block;
  box-sizing: border-box;
  overflow: hidden;
  width: 50%;
  margin: 0;
  padding: 10px 3%;
  font-size: 0.9em;
  color: #2D2D2D;
  font-weight: 300;
  white-space: nowrap
}

.cloud_artist a:nth-child(2n),
.cloud_tag a:nth-child(2n),
.cloud_generic a:nth-child(2n) {text-align: right}

.no_touch #cloud a:hover {color: #fff}

#cloud>div>div {
  height: 1px;
  text-align: center;
  margin: 35px 0;
  border-bottom: dashed 1px #919696
}

#cloud>div>div span {
  position: relative;
  padding-left: 10px;
  padding-right: 7px;
  top: -0.5em;
  background-color: #fff;
  font-family: "Squada One";
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 1.1em
}

#more_tags {
  font-size: 0.9em;
  max-width: 180px;
  margin: 35px auto;
  display: block;
  text-align: center;
  padding: 15px;
  border: solid 1px #02C68E;
  color: #02C68E;
  border-radius: 5px;
  transition: background ease 0.5s
}

.no_touch #more_tags:hover {
  background-color: #02C68E;
  color: #fff
}

/* ---------------------------------------------------- signature and stuff  */

#signature {
  text-align: center;
  font-size: 0.6em;
  margin: 30px 0 60px 0
}

#signature span {color: #B71010}

/* ---------------------------------------------------- footer container  */

#bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 85px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0px -18px 30px 13px rgba(255,255,255,0.9);
  text-align: center
}

#footer_blank {
  height: 85px;
  width: 100%;
  display: block
}

/* ---------------------------------------------------- current song info  */

#song_info {
  width: 100%;
  padding: 0;
  white-space: nowrap;
  height: 25px
}

#song_info span {
  font-size: 0.7em
}

/* ---------------------------------------------------- music player controls  */

#controls {padding-top: 5px}

#controls a {
  margin: 0 8px;
  display: inline-block;
  padding: 5px 8px 3px 8px;
  border-radius: 3px
}

#controls a:hover {
  cursor: pointer;
  box-shadow: inset 0 0 0 1px #262626
}

/* ####################################################################### 450px */

@media only screen and (min-width: 450px) {

  /* -------------------------------------------------- header  */

  #text_box {font-size: 1.5em}

  /* -------------------------------------------------- tag cloud  */

  #cloud a {font-size: 1.2em}
}

/* ####################################################################### 900px */

@media only screen and (min-width: 900px) {

  /* -------------------------------------------------- header  */

  header {position: fixed}

  #top_box {
    height: 80px;
    padding: 10px 0 10px 90px;
    background-color: rgba(0,0,0,0.85)
  }

  #mix_art,
  #logo {
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-right: 10px;
   
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.77)
  }

  #logo {box-shadow: none}

  #text_box {
    height: 80px;
    font-size: 2.5em;
    background: url(../assets/search.svg) no-repeat right 40px center;
    background-size: 50px 50px
  }

  /* -------------------------------------------------- main  */

  main {
    margin-top: 115px;
    margin-left: 5%;
    margin-right: 5%
  }

  /* -------------------------------------------------- details header  */

  #below_header {
    text-align: left;
    padding-left: 0;
    padding-right: 0
  }

  #status {display: inline}

  /* -------------------------------------------------- tag cloud  */

  .cloud_artist a:nth-child(n),
  .cloud_tag a:nth-child(n),
  .cloud_generic a:nth-child(n) {
    padding-left: 5%;
    padding-right: 5%;
    width: 33.33%;
    width: calc(100%/3);
    text-align: left;
   
    border-radius: 5px
  }

  .cloud_artist a:nth-child(3n-1),
  .cloud_tag a:nth-child(3n-1),
  .cloud_generic a:nth-child(3n-1) {text-align: right}

  .cloud_artist a:nth-child(3n),
  .cloud_tag a:nth-child(3n),
  .cloud_generic a:nth-child(3n) {text-align: center}
}

/* ####################################################################### 1200px */

@media only screen and (min-width: 1200px) {

  /* -------------------------------------------------- tag cloud  */

  .cloud_artist a:nth-child(n),
  .cloud_tag a:nth-child(n),
  .cloud_generic a:nth-child(n) {
    width: 25%;
    text-align: left
  }
}

/* ####################################################################### 1600px */

@media only screen and (min-width: 1600px) {

  /* -------------------------------------------------- tag cloud  */

  #cloud a {font-size: 1.5em}
}

/* ####################################################################### 2000px */

@media only screen and (min-width: 2000px) {

  /* -------------------------------------------------- tag cloud  */

  #cloud a {font-size: 2em}
}
