<!doctype html>
<html lang="en" ng-app="app">
<head>
	<title>Line Radio</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="Music related to the artist or tag that you are typing in starts playing in real-time as you type. No browsing, no sign-in, no hassle. Just relevant tunes.">
	<meta property="og:title" content="Line Radio">
	<meta property="og:description" content="Music related to the artist or tag that you are typing in starts playing in real-time as you type. No browsing, no sign-in, no hassle. Just relevant tunes.">
	<meta property="og:url" content="http://linerad.io">
	<meta property="og:type" content="website">
	<meta property="og:image" content="http://linerad.io/img/line_radio.jpg">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="Line Radio">
	<meta name="twitter:creator" content="@thirdletterdev">
	<meta name="twitter:description" content="Music related to the artist or tag that you are typing in starts playing in real-time as you type. No browsing, no sign-in, no hassle. Just relevant tunes.">
	<meta name="twitter:url" content="http://linerad.io">
	<meta name="twitter:image" content="http://linerad.io/img/line_radio.jpg">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	<meta name="google-site-verification" content="xzRIm1tGJtIfECcDnYZOtXO3UouRa6_OyAiiS6kllJU">
<body id="body" class="no_touch">
	<div id="init_load" ng-hide="true">
		<span>loading...</span><br>
		<span id="init_load_small">If nothing loads, try <a href="http://browsehappy.com/">updating your browser</a>.</span>
	</div>
	<div id="main" ng-controller="HomeController" ng-init="initApp($scope, $http)" class="ng-cloak" ng-cloak>
		<div id="header">
			<div id="progress_container">
				<div id="track_downloaded">
					<div id="track_position"></div>
				</div>
			</div>

			<div id="text_box_container">
				<a ng-show="!track.name" href="/"><img id="logo" width="80" height="32" ng-src="/img/logo.svg" alt="Line Radio"></a>
				<a ng-show="track.name" target="_blank" ng-href="{{mixPath}}"><img id="mix_art" width="80" height="80" ng-src="{{mixArt}}" alt="{{mixName}}"></a>
				<input id="text_box" maxlength="40" ng-class="{'no_background':oldLen||query}" ng-model="query" ng-change="queryApi($scope, $http)">
			</div>
		</div>

		<div id="guts">
			<!--<div id="what_this_is" ng-show="!sStatus">
				<p>Line Radio streamlines the process of sorting through bad mixes on <a href="http://8tracks.com">8tracks</a> by automatically playing songs that are related to what you type. Find a bad mix? Press <img width="15" height="15" alt="refresh" src='/img/refresh.svg'> for a fresh playlist or <img width="15" height="15" alt="skip" src='/img/skip.svg'> to skip a track. Whether you're trying to get <a ng-click="query='workout';loadTag($scope)">pumped up</a>, take it back to the <a ng-click="query='the beatles';loadArtist($scope)">1960's</a> and <a ng-click="query='led zeppelin';loadArtist($scope)">1970's</a>, or <a ng-click="query='adderall';loadTag($scope)">study for finals</a>, Line Radio can get you there faster.</p>
			</div>-->

			<div id="mix_info">
			</div>

			<div id="below_header" class="no_highlight">
				<div id="prefer">
					<span>prefer: </span>
					<label>artists<input type="checkbox" ng-model="preferArtist" ng-click="preferTag=0"></label>
					<label>tags<input type="checkbox" ng-model="preferTag" ng-click="preferArtist=0"></label>
				</div>
				<span id="s_status" ng-show="sStatus">{{sStatus}}</span>
				<img id='loader' width="16" height="16" src="/img/loader.gif" alt="loading..." ng-show="loader">
			</div>

			<div id="tag_cloud" class="no_highlight">
				<a class="border-fade-tag drop-click" ng-class="'repeat_animate'" ng-click="$parent.query=tag.name;findTheMix($scope, $http)" ng-repeat="tag in tagCloud">{{tag.name}}</a>
			</div>
			<a id="more_tags" class="drop-click" ng-click="getTags()">more plz</a>
			
			<div id="signature">&lt; created by <a href="https://twitter.com/thirdletterdev">thirdletterdev</a>. powered by <a href="https://8tracks.com">8tracks</a>. /&gt;</div>
		</div>

		<div id="footer" ng-show="track.name">
			<div id="song_info">
				<h4>{{track.name}} by {{track.performer}}</h4>
			</div>
			<div id="controls">
				<a class="controls border-fade-control" ng-click="findTheMix($scope, $http)">
					<img width="25" height="25" alt="refresh" src='/img/refresh.svg'>
				</a>
				<a class="controls border-fade-control" ng-click="togglePlay()">
					<img ng-show="playToggle" width="25" height="25" alt="pause" src='/img/pause.svg'>
					<img ng-show="!playToggle" width="25" height="25" alt="play" src='/img/play.svg'>
				</a>
				<a class="controls border-fade-control" ng-click="nextSong($scope, $http)">
					<img width="25" height="25" alt="skip" src='/img/skip.svg'>
				</a>
				<!--<a class="controls border-fade-control" ng-click="">
					<img width="25" height="25" alt="volume" src='/img/volume.svg'>
				</a>-->
			</div>
		</div>

		<div id="footer_blank" ng-show="track.name"></div>
	</div>

	<script src="js/main.js"></script>
</body>
</html>
