$padding-xxxsmall: .3rem;
$padding-xxsmall: .8rem;
$padding-xsmall: 1rem;
$padding-small: 1.5rem;
$padding-medium: 2rem;
$padding-large: 3rem;
$padding-xlarge: 5vw;

$tag-height: 3rem;
$player-width: 28vw;
$control-button-size: 1.5rem;
$player-height-small: $control-button-size + $padding-xxsmall * 2;

$z-1: 5;
$z-2: 10;
