@import './variables';

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade_in {
  opacity: 0;
  transform: translateY(-4px);
  animation: fadeIn .6s forwards;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 1.5rem;
  height: 1.5rem;
  border: solid .08rem $text-primary;
  border-bottom-color: transparent;
  border-radius: 50%;
  animation: spin .5s linear infinite;
}
