$break-xsmall: 300px;
$break-small: 600px;
$break-medium: 900px;
$break-large: 1100px;
$break-xlarge: 1500px;
$break-xxlarge: 1800px;

$vertical-break-xsmall: 100px;
$vertical-break-small: 200px;
$vertical-break-medium: 300px;
$vertical-break-large: 400px;
$vertical-break-xlarge: 500px;
$vertical-break-xxlarge: 600px;
$vertical-break-xxxlarge: 700px;
