body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

div,
main,
section,
aside,
input,
button,
img {
  box-sizing: border-box;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: inherit;
  appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: inherit;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
