body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
