* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  color: #222;
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
}

div,
main,
section,
aside,
input,
button,
img,
svg,
ul,
li,
h1,
h2,
h3,
h4 {
  display: block;
  box-sizing: border-box;
}

input,
button {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: none;
  font-size: inherit;
  appearance: none;

  &::-moz-focus-inner {
    padding: 0;
    border: inherit;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
