@import '../utilities/helpers';
@import '../utilities/variables';

.App_background {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: $z-neg;
  transition: opacity $speed-slowest;
  opacity: 0.3;

  &.hide {
    opacity: 0;
  }
}
