@import '../utilities/variables';

.Dashboard {
  @media (min-width: $break-lg) {
    width: calc(100% - #{$player-width});
    transition: transform $speed-normal;
    transform: translateX($player-width / 2);
  }
}

.Dashboard.player_visible {
  padding-bottom: $player-height-small;

  @media (min-width: $break-lg) {
    padding-bottom: 0;
    transform: translateX(0);
  }
}
