@import '../utilities/helpers';
@import '../utilities/variables';

.Footer {
  @extend .fade_in;
  padding: 0 $padding-md $padding-lg;
  font-size: 0.8rem;
  line-height: 1.6rem;
  text-align: center;

  @media (min-width: $break-md) {
    flex-direction: row;
    padding: 0 $padding-lg $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl $padding-xl;
  }

  a {
    text-decoration: underline;
  }

  pre {
    display: inline;
    margin: 0 0.5rem;
    color: $red;
  }
}
