@import '../utilities/helpers';
@import '../utilities/variables';

.Footer {
  @extend .fade_in;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $padding-md $padding-lg;
  font-size: 0.8rem;

  @media (min-width: $break-md) {
    padding: 0 $padding-lg $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl $padding-xl;
  }

  a {
    color: $accent-primary;
    text-decoration: underline;
  }
}

.Footer_line {
  @media (min-width: $break-md) {
    position: relative;
    top: 1px;
    height: 1px;
    width: 30vw;
    background-color: $background-primary-darker;
  }
}
