@import './utilities/variables';

.Header {
  padding: $padding-large $padding-medium;
  text-align: center;

  @media (min-width: $break-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-large;
  }

  @media (min-width: $break-large) {
    padding: $padding-xlarge;
  }

  h1 {
    margin-bottom: $padding-xxsmall;

    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    img {
      display: block;
      height: 1.7rem;
      margin: 0 auto;
    }
  }

  h2 {
    font-size: .8rem;
    text-transform: uppercase;
    letter-spacing: .05em;

    @media (min-width: $break-medium) {
      font-size: .9rem;
    }
  }
}

.tags_exist {
  h1 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      visibility: visible;
    }
  }

  h2 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      display: none;
    }
  }
}
