@import '../utilities/variables';

.Header {
  padding: $padding-lg $padding-md;
  text-align: center;

  @media (min-width: $break-md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: $padding-xl;
  }

  h1 {
    margin-bottom: $padding-xxs;

    @media (min-width: $break-md) {
      margin-bottom: 0;
    }

    img {
      display: block;
      height: 1.7rem;
      margin: 0 auto;
    }
  }

  h2 {
    font-size: 0.8rem;
    letter-spacing: 0.05em;
  }
}

.tags_exist {
  h1 {
    visibility: hidden;

    @media (min-width: $break-md) {
      visibility: visible;
    }
  }

  h2 {
    visibility: hidden;

    @media (min-width: $break-md) {
      display: none;
    }
  }
}
