@import '../utilities/helpers';
@import '../utilities/variables';

.List {
  @extend .fade_in;
  padding: 0 $padding-md $padding-lg;

  @media (min-width: $break-md) {
    flex-basis: calc(100% / 3);
    padding: 0 $padding-md $padding-lg 0;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-md $padding-xl 0;
  }
}

.Search .List {
  margin: $padding-xs 0 0;
  padding-bottom: 0;

  @media (min-width: $break-md) {
    padding: 0 $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: calc(#{$tag-height} * 1);
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.Lists .List ul {
  margin-top: $padding-xs;
  background-color: $white;
  border-radius: $border-radius;
}

.List_header {
  button {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: $padding-xxs $padding-xs;
    background-color: $background-secondary;
    border-radius: $border-radius;
    transition: background-color $speed-fast;

    &:hover {
      background-color: $background-secondary-light;
    }
  }
}

.List_title {
  color: $text-secondary;
  font-size: 0.6rem;
  font-weight: $font-weight-bold;
  line-height: 1.2rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.List_shuffle {
  img {
    width: 1rem;
    height: 1rem;
  }
}
