@import '../utilities/variables';

.Lists {
  @media (min-width: $break-md) {
    display: flex;
    justify-content: center;
    padding-left: $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding-left: $padding-xl;
  }
}
