@import '../utilities/helpers';
@import '../utilities/variables';

.List {
  @extend .fade_in;
  padding: 0 $padding-md $padding-lg;

  @media (min-width: $break-md) {
    flex-basis: calc(100% / 3);
    padding: 0 $padding-lg $padding-lg 0;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl $padding-xl 0;
  }

  ul {
    background-color: $white;
    border-radius: 0 0 $border-radius $border-radius;
    overflow: hidden;
  }
}

.List_inner {
  border-radius: $border-radius;
  box-shadow: $box-shadow-card;
}

.Search .List {
  margin: $padding-xs 0 0;
  padding-bottom: 0;

  @media (min-width: $break-md) {
    padding: 0 $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: calc(#{$tag-height} * 1);
    border-radius: $border-radius;
    overflow: hidden;
  }
}

.Lists .List_inner {
  box-shadow: $box-shadow-card;
}

.List_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: $padding-xs;
  background-color: $background-secondary-light;
  border-radius: $border-radius $border-radius 0 0;
  transition: background-color $speed-fast;

  &:hover {
    background-color: $background-secondary;
  }
}

.List_title {
  color: $text-secondary;
  font-size: 0.8rem;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.List_shuffle {
  img {
    width: 1rem;
    height: 1rem;
  }
}
