@import '../utilities/helpers';
@import '../utilities/variables';

.PlayerInfo {
  @extend .fade_in;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-md;
  color: $text-secondary;
}

.PlayerInfo_artist,
.PlayerInfo_title {
  display: block;
}

.PlayerInfo_artist {
  margin-bottom: $padding-xxs;
  color: $text-secondary-dark;
  font-size: 0.6rem;
  line-height: 1.2rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.PlayerInfo_title {
  font-size: 1rem;
  font-weight: $font-weight-bold;
  line-height: 1.4rem;

  img {
    position: relative;
    display: inline;
    top: 1px;
    width: 0.8em;
    height: 0.8em;
    margin-left: $padding-xxxs;
  }
}
