@import 'utilities/helpers';
@import 'utilities/variables';

.PlayerInfo {
  @extend .fade_in;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  color: $text-secondary;
}

.PlayerInfo_artist,
.PlayerInfo_title {
  display: block;
}

.PlayerInfo_artist {
  margin-bottom: $padding-xxsmall;
  color: $text-secondary-dark;
  font-size: .7rem;
  line-height: 1.2rem;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.PlayerInfo_title {
  font-size: .9em;
  font-weight: $font-weight-bold;
  line-height: 1.4rem;

  img {
    position: relative;
    display: inline;
    top: 1px;
    width: .8em;
    height: .8em;
    margin-left: $padding-xxxsmall;
  }
}
