@import '../utilities/variables';

.PlayerArt_background {
  position: absolute;
  top: -$padding-lg;
  right: -$padding-lg;
  bottom: -$padding-lg;
  left: -$padding-lg;
  transition: opacity $speed-slow;
  background-size: cover;
  background-position: center;
  z-index: $z-neg;
  filter: blur(12px);
  opacity: 0;
}

.loaded .PlayerArt_background {
  opacity: 0.5;
}

.PlayerArt_image {
  $width: calc(100vw - #{$padding-md * 2});
  $max-width: 40vh;

  width: $width;
  height: $width;
  max-width: $max-width;
  max-height: $max-width;
  margin: $padding-md auto $padding-xs;
  transform: translateY($translate-distance);
  transition: transform $speed-normal, opacity $speed-normal;
  border-radius: $border-radius;
  background-color: rgba($white, 0.05);
  box-shadow: $box-shadow-image;
  opacity: 0;

  @media (min-width: $break-lg) {
    $width: calc(#{$player-width} - #{$padding-lg} * 2);

    width: $width;
    height: $width;
    margin-top: $padding-lg;
  }

  @media (max-height: $break-sm) {
    margin-top: 0;
  }
}

.loaded .PlayerArt_image {
  transform: translateY(0);
  opacity: 1;
}
