@import '../utilities/helpers';
@import '../utilities/variables';

.Search {
  margin-bottom: $padding-lg;

  @media (min-width: $break-lg) {
    margin-bottom: $padding-xl;
  }

  input {
    width: calc(100% - #{$padding-md} * 2);
    margin: 0 $padding-md;
    padding: $padding-xs 0;
    border-radius: 3rem;
    background-color: $white;
    box-shadow: $box-shadow-card;
    transition: $speed-fast;
    font-size: 0.8rem;
    text-align: center;

    @media (min-width: $break-md) {
      width: calc(100% - #{$padding-lg} * 2);
      margin: 0 $padding-lg;
      padding: $padding-sm 0;
      font-size: 1.2rem;
    }

    @media (min-width: $break-lg) {
      width: calc(100% - #{$padding-xl} * 2);
      margin: 0 $padding-xl;
    }
  }
}
