@import '../utilities/variables';

.Suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -$padding-sm;
  padding: 0 $padding-md $padding-lg;
  text-align: center;

  @media (min-width: $break-md) {
    flex-direction: row;
    padding: 0 $padding-lg $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl $padding-xl;
  }

  button {
    display: block;
    margin: 0 $padding-xxs $padding-sm;
    padding: $padding-xxs $padding-sm;
    transition: background-color $speed-fast, transform $speed-fast;
    border-radius: $border-radius;
    background-color: $accent-primary-lighter;
    color: $text-secondary;
    font-size: 0.6rem;
    font-weight: $font-weight-bold;
    line-height: 1.2rem;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    backface-visibility: hidden;

    &:hover {
      background-color: $accent-primary;
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }

    &.playerVisible {
      background-color: $background-secondary;

      &:hover {
        background-color: $background-secondary-light;
      }
    }
  }
}
