@import '../utilities/variables';

.Suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: -$padding-sm;
  padding: 0 $padding-md $padding-lg;
  text-align: center;

  @media (min-width: $break-md) {
    flex-direction: row;
    padding: 0 $padding-lg $padding-lg;
  }

  @media (min-width: $break-lg) {
    padding: 0 $padding-xl $padding-xl;
  }

  button {
    display: block;
    margin: 0 $padding-xxs $padding-sm;
    padding: $padding-xxs $padding-xs;
    transition: background-color $speed-fast, box-shadow $speed-fast,
      transform $speed-fast;
    border-radius: $border-radius;
    background-color: $background-secondary-light;
    color: $text-secondary;
    font-size: 0.9rem;
    font-weight: $font-weight-bold;
    backface-visibility: hidden;

    &:hover {
      transform: translateY(-2px);
      background-color: $background-secondary;
      box-shadow: $box-shadow-button-hover;
    }

    &:active {
      transform: translateY(0);
    }
  }
}
