@import '../utilities/helpers';
@import '../utilities/variables';

.Tag {
  white-space: nowrap;
  overflow: hidden;

  button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    width: 2rem;
    height: 2rem;
    margin-right: $padding-xs;
    margin-left: -2px;
    border-radius: 50%;
  }
}

.CurrentTags .Tag {
  padding: $padding-md / 2 0;

  &::before {
    content: '+';
    margin: 0 $padding-xxs;
    font-weight: $font-weight-black;
  }

  &:first-of-type::before {
    content: '';
    margin: 0;
  }

  @media (min-width: $break-md) {
    padding: 0;
  }

  button {
    display: inline-block;
    padding: 0 $padding-xs;
    border-radius: 2rem;
    background-color: $background-secondary;
    box-shadow: $box-shadow-button;
    color: $text-secondary;
    font-size: 1.2rem;
    font-weight: $font-weight-black;
    line-height: $padding-md;

    &:hover {
      text-decoration: line-through;
      cursor: pointer;
    }

    &:active {
      box-shadow: none;
    }

    @media (min-width: $break-md) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      color: inherit;
    }
  }
}

.List .Tag {
  button {
    position: relative;
    width: 100%;
    padding: 0 $padding-xs;
    font-size: 0.9rem;
    line-height: $tag-height;
    text-align: left;
    transition: background-color $speed-fast;

    &:hover,
    &:focus {
      background-color: $off-white;
    }
  }
}

.Search .List .Tag {
  flex-grow: 1;

  button {
    justify-content: center;
    padding: 0 $padding-xs;
    text-align: center;
  }
}
