@import './utilities/variables';

html {
  font-size: 4.2vw;

  @media (min-width: $break-small) {
    font-size: 3vw;
  }

  @media (min-width: $break-medium) {
    font-size: 2vw;
  }

  @media (min-width: $break-large) {
    font-size: 1.4vw;
  }

  @media (min-width: $break-xlarge) {
    font-size: 1.2vw;
  }

  @media (min-width: $break-xxlarge) {
    font-size: 1vw;
  }
}
