@import './utilities/helpers';
@import './utilities/media';
@import './utilities/reset';

html {
  font-size: 4vw;

  @media (min-width: $break-xsmall) {
    font-size: 1rem;
  }

  @media (min-width: $break-small) {
    font-size: 2.7vw;
  }

  @media (min-width: $break-medium) {
    font-size: 2vw;
  }

  @media (min-width: $break-large) {
    font-size: 1.5vw;
  }

  @media (min-width: $break-xlarge) {
    font-size: 1.2vw;
  }

  @media (min-width: $break-xxlarge) {
    font-size: 1.1vw;
  }
}
