@import './utilities/media';

.CurrentTags {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 2rem;
  left: 0;
  width: 100%;
  z-index: 10;

  @media (min-width: $break-medium) {
    position: relative;
    top: auto;
    width: auto;
  }
}
