@import './utilities/variables';

.CurrentTags {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: $padding-medium;
  right: -50%;
  left: -50%;
  z-index: $z-1;

  @media (min-width: $break-medium) {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
  }
}
