.CurrentTags {
  display: flex;
  align-items: center;

  .Tag {
    margin: 0 0 0 1vw;
  }

  .Tag {
    &::before {
      content: '+';
      margin-right: 1vw;
      font-size: 1.2em;
    }

    &:first-of-type::before {
      content: '';
    }
  }
}
