@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.Dashboard {
  overflow-x: hidden;

  @media (min-width: $break-large) {
    width: calc(100% - #{$player-width});
    transition: transform $speed-normal;
    transform: translateX($player-width / 2);
  }
}

.Dashboard.player_visible {
  padding-bottom: $player-height-small;

  @media (min-width: $break-large) {
    padding-bottom: 0;
    transform: translateX(0);
  }
}
