@import './utilities/media';

.Dashboard {
  overflow-x: hidden;

  &.player-loaded {
    padding-bottom: 3.5rem;
  }

  @media (min-width: $break-large) {
    width: calc(100% - 30vw);
    margin: 0 auto;

    &.player-loaded {
      margin: 0;
      padding-bottom: 0;
    }
  }
}
