@import './utilities/variables';

.Header {
  padding: $padding-large $padding-medium;
  text-align: center;

  @media (min-width: $break-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-large;
  }

  @media (min-width: $break-large) {
    padding: $padding-xlarge;
  }

  h1 {
    margin-bottom: $padding-xxxsmall;
    font-size: 1.35em;
    text-transform: uppercase;
    letter-spacing: .1em;

    @media (min-width: $break-medium) {
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      padding: $padding-xxsmall $padding-xxsmall;
      border-radius: $border-radius;
      transition: background-color $speed-fast;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        height: .3em;
        background-color: $accent-primary-lightest;
        transition: background-color $speed-fast;
        top: calc(50% - .15em);
      }

      &:hover::before {
        background-color: $accent-primary;
      }
    }
  }

  h2 {
    font-family: 'Palatino', serif;
    font-size: 1.2em;
    font-weight: normal;
    font-style: italic;
    line-height: $padding-medium;
  }

  a {
    text-decoration: none;
  }
}

.tags_exist {
  h1 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      visibility: visible;
    }
  }

  h2 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      display: none;
    }
  }
}
