@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.Header {
  padding: $padding-medium;
  text-align: center;

  @media (min-width: $break-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding-large;
  }

  h1 {
    font-size: 1.3em;
    line-height: $padding-medium;
    text-transform: uppercase;
    letter-spacing: .1em;

    @media (min-width: $break-medium) {
      font-size: 1.1em;
    }
  }

  h2 {
    color: $off-black-light;
    font-family: 'Palatino', serif;
    font-size: .9em;
    font-weight: normal;
    font-style: italic;
    line-height: $padding-medium;

    @media (min-width: $break-medium) {
      font-size: 1.1em;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.Header.tags_exist {
  h1 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      visibility: visible;
    }
  }

  h2 {
    visibility: hidden;

    @media (min-width: $break-medium) {
      display: none;
    }
  }
}
