@import './utilities/media';

.Header {
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 1.1em;
    line-height: 2rem;
    text-transform: uppercase;
    letter-spacing: .1em;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  &.tags-exist {
    h1 {
      visibility: hidden;

      @media (min-width: $break-medium) {
        visibility: visible;
      }
    }
  }

  @media (min-width: $break-medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem;
  }
}
