@import './utilities/variables';

.Lists {
  @media (min-width: $break-medium) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-left: $padding-large;
  }

  @media (min-width: $break-large) {
    padding-left: $padding-xlarge;
  }
}
