@import './utilities/boxes';
@import './utilities/helpers';
@import './utilities/media';

$total-tag-height: $tag-height + $padding-xsmall;

.List {
  @extend .fade_in;
  margin-bottom: $padding-medium;
  padding: 0 $padding-xsmall 0 $padding-medium;
  box-sizing: border-box;
  overflow: auto;

  @media (min-width: $break-medium) {
    width: 50%;
    margin-bottom: $padding-large;
    padding: 0 $padding-large - $padding-xsmall 0 0;
  }

  @media (min-width: $break-large) {
    padding: 0 $padding-large - $padding-xsmall 0 0;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(#{$total-tag-height} * 6);
    overflow: hidden;

    @media (min-width: $break-medium) {
      max-height: calc(#{$total-tag-height} * 10);
    }
  }
}

.List.full_width {
  flex-shrink: 0;
  width: 100%;

  ul {
    @media (min-width: $break-medium) {
      max-height: calc(#{$total-tag-height} * 3);
    }
  }
}

.Search .List {
  margin-bottom: 0;

  @media (min-width: $break-medium) {
    padding-left: $padding-large;
  }

  ul {
    max-height: calc(#{$total-tag-height} * 2);

    @media (min-width: $break-medium) {
      max-height: calc(#{$total-tag-height} * 1);
    }
  }
}

.List_header {
  display: block;
  width: calc(100% - #{$padding-xsmall});
  margin-bottom: $padding-xsmall;

  @media (min-width: $break-medium) {
    margin: 0;
    text-align: left;
  }

  h3 {
    margin: 0 0 0 .2em;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;

    @media (min-width: $break-medium) {
      margin: 0;
      text-align: left;
    }
  }

  svg {
    display: inline;
    width: .8em;
    height: .8em;
    margin-left: 1em;
    vertical-align: baseline;

    @media (min-width: $break-medium) {
      float: right;
      width: 1em;
      height: 1em;
      margin-top: .1em;
    }
  }
}
