.List {
  width: 100%;
  margin-top: 3em;

  h3 {
    margin: 0 0 .3vw;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(2 * 4vw);
    overflow: hidden;
  }
}
