@import './utilities/boxes';
@import './utilities/media';

$total-tag-height: $tag-height + $padding-xsmall;

.List {
  width: 100%;
  margin-bottom: $padding-medium;
  padding: 0 $padding-xsmall 0 $padding-medium;
  box-sizing: border-box;
  overflow: auto;

  @media (min-width: $break-medium) {
    margin-bottom: $padding-large;
    padding: 0 $padding-large - $padding-xsmall 0 $padding-large;
  }

  @media (min-width: $break-xlarge) {
    padding: 0 $padding-large - $padding-xsmall 0 0;
  }

  h3 {
    margin: 0 $padding-xsmall $padding-xsmall 0;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;

    @media (min-width: $break-medium) {
      margin: 0;
      text-align: left;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(#{$total-tag-height} * 8);
    overflow: hidden;

    @media (min-width: $break-xsmall) {
      max-height: calc(#{$total-tag-height} * 6);
    }

    @media (min-width: $break-medium) {
      max-height: calc(#{$total-tag-height} * 5);
    }

    @media (min-width: $break-xlarge) {
      max-height: calc(#{$total-tag-height} * 4);
    }
  }
}

.Dashboard.player_visible .List {
  ul {
    @media (min-width: $break-xlarge) {
      max-height: calc(#{$total-tag-height} * 9);
    }
  }
}

.Search .List,
.Dashboard.player_visible .Search .List {
  margin-bottom: 0;

  @media (min-width: $break-xlarge) {
    padding-left: $padding-large;
  }

  ul {
    max-height: calc(#{$total-tag-height} * 2);
  }
}
