@import './utilities/variables';

.PlayerControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 20rem;
  margin: 0 auto;

  @media (min-width: $break-large) {
    max-width: 16rem;
  }

  &>* {
    flex-grow: 1;
  }

  button {
    margin: 0 auto;
    padding: $padding-xxsmall;

    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: $control-button-size;
    height: $control-button-size;
    margin: 0 auto;
  }
}

.hide_on_desktop {
  @media (min-width: $break-large) {
    display: none;
  }
}
