@import './utilities/media';

.Player {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform .3s;
  text-align: center;
  overflow: hidden;
  z-index: 1000;

  @media (min-width: $break-large) {
    top: 0;
    right: 0;
    left: auto;
    width: 30vw;
    transform: translateX(30vw);
  }
}

.Player.visible {
  transform: translateY(-3.5rem);

  @media (min-width: $break-large) {
    transform: translateX(0);
  }
}

.Player.fullscreen {
  transform: translateY(-100%);

  @media (min-width: $break-large) {
    transform: translateY(0);
  }
}

.Player-inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: -100%;
  padding: 1rem;
  width: 100%;
  height: 100%;
  transition: background-color .3s, transform .3s;
  transform: translateY(4.44rem);
  background-color: #fbfbfb;
  color: inherit;
  fill: #222;

  .track-loading {
    width: 1.5rem;
    height: 1.5rem;
    border: solid 5px inherit;
    border-radius: 50%;
    stroke: inherit;
  }

  @media (min-width: $break-large) {
    position: relative;
    top: auto;
    padding: 3rem;
    transform: translateY(0);
    background-color: inherit;
    fill: inherit;
  }
}

.Player.fullscreen .Player-inner {
  transform: translateY(100%);
  background-color: inherit;
  fill: inherit;

  @media (min-width: $break-large) {
    transform: translateY(0);
  }
}
