@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/media';

.PlayerArt {
  flex: 0 0;
  display: none;
  width: 100%;
  padding-bottom: $padding-xsmall;
  transition: opacity $speed-fast, filter $speed-fast;

  @media (min-height: $vertical-break-medium) and (max-width: $break-small) {
    display: block;
    max-width: 25vh;
  }

  @media (min-height: $vertical-break-large) and (max-width: $break-small) {
    max-width: 35vh;
  }

  @media (min-height: $vertical-break-xlarge) and (max-width: $break-small) {
    max-width: 45vh;
  }

  @media (min-height: $vertical-break-xlarge) and (min-width: $break-small) {
    display: block;
    max-width: 30vh;
  }

  @media (min-height: $vertical-break-xxlarge) and (min-width: $break-small) {
    max-width: 40vh;
  }

  @media (min-height: $vertical-break-xxxlarge) and (min-width: $break-small) {
    max-width: 50vh;
  }

  img {
    display: block;
    width: 100%;
  }
}

.PlayerArt.loading {
  opacity: .2;
  filter: grayscale(100%);
}
