@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.Player {
  position: fixed;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform $speed-normal;
  opacity: 0;
  overflow: hidden;
  text-align: center;
  z-index: $z-2;

  @media (min-width: $break-large) {
    top: 0;
    right: 0;
    left: auto;
    width: $player-width;
    transform: translateX($player-width);
  }
}

.Player.visible {
  transform: translateY(-$player-height-small);
  opacity: 1;

  @media (min-width: $break-large) {
    transform: translateX(0);
  }
}

.Player.fullscreen {
  transform: translateY(-100%);

  @media (min-width: $break-large) {
    transform: translateY(0);
  }
}

.Player_inner {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: -100%;
  width: 100%;
  height: 100%;
  padding: $padding-medium $padding-medium $padding-medium - $padding-xsmall;
  transition: background-color $speed-normal, transform $speed-normal;
  transform: translateY($player-height-small + $padding-medium / 2);
  background-color: $off-white;
  color: inherit;
  fill: $off-black;

  @media (min-width: $break-large) {
    position: relative;
    top: auto;
    padding: $padding-large $padding-large $padding-large - $padding-xsmall;
    transform: translateY(0);
    background-color: inherit;
    fill: inherit;
  }
}

.Player.fullscreen .Player_inner {
  transform: translateY(100%);
  background-color: inherit;
  fill: inherit;

  @media (min-width: $break-large) {
    transform: translateY(0);
  }
}
