@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.PlayerArt {
  width: 100%;
  min-width: $player-width;
  max-width: 50vh;
  height: 50vh;
  margin-bottom: $padding-xsmall;
  background-color: darken($off-white, 5%);
  background-size: cover;
  background-position: center;
}
