@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/media';

.PlayerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 18rem;
  margin: 0 auto;

  button {
    flex-grow: 1;
    padding: $padding-xxsmall;
    border-radius: 50%;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(.97);
    }

    &:last-of-type {
      @media (min-width: $break-large) {
        display: none;
      }
    }
  }

  svg {
    width: $control-button-size;
    height: $control-button-size;
    margin: 0 auto;
    transition: fill $speed-normal;
    fill: inherit;
  }
}
