@import './utilities/boxes';
@import './utilities/helpers';

.PlayerInfo {
  @extend .fade_in;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  color: $off-black-light;

  span {
    display: block;
    line-height: 1.6rem;
  }
}

.PlayerInfo_artist {
  margin-bottom: .5em;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: .6em;
}

.PlayerInfo_title {
  font-size: .9em;

  svg {
    display: inline;
    width: .8em;
    height: .8em;
  }
}
