.PlayerControls {
  display: flex;
  justify-content: center;
  width: 100%;

  button {
    margin: 0 10px;
    border: solid 1px transparent;
    border-radius: 5px;

    &:hover {
      border-color: inherit;
      cursor: pointer;
    }

    &:active {
      transform: scale(.97);
    }
  }

  svg {
    width: 2vw;
    height: 2vw;
    padding: .5vw;
    fill: inherit;
  }
}
