@import './utilities/media';

.PlayerArt {
  display: none;
  width: 100%;

  @media (min-height: $break-xsmall) {
    display: block;
    max-width: 30vh;
  }

  @media (min-height: $break-small)  {
    max-width: 35vh;
  }

  @media (min-height: $break-medium) {
    max-width: 40vh;
  }
}
