@import './utilities/boxes';
@import './utilities/helpers';

.PlayerInfo {
  @extend .fade_in;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium;
  color: $off-black-light;

  span {
    display: block;
    line-height: 1.6em;
  }
}

.PlayerInfo_artist {
  margin-bottom: .7em;
  opacity: .7;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: .6em;
}

.PlayerInfo_title {
  font-size: .9em;
}
