@import './utilities/boxes';

.PlayerInfo {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $padding-medium 0;

  span {
    display: block;
    line-height: 1.6em;
  }
}

.PlayerInfo_artist {
  margin-bottom: .7em;
  opacity: .8;
  text-transform: uppercase;
  letter-spacing: .25em;
  font-size: .6em;
}
