@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.Search {
  margin-bottom: $padding-medium;

  @media (min-width: $break-medium) {
    margin-bottom: $padding-large;
  }

  input {
    width: calc(100% - #{$padding-medium} * 2);
    margin: 0 $padding-medium;
    padding: $padding-xsmall 0;
    border: solid 1px darken($off-white, 10%);
    border-radius: 3rem;
    transition: border-bottom-right-radius $speed-slow, border-bottom-left-radius $speed-slow;
    font-size: .9em;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $off-white;
    }

    &.results {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    @media (min-width: $break-medium) {
      width: calc(100% - #{$padding-large} * 2);
      margin: 0 $padding-large;
      padding: $padding-small 0;
      font-size: 1.1em;
    }
  }
}
