@import './utilities/animations';
@import './utilities/boxes';
@import './utilities/colors';
@import './utilities/media';

.Search {
  margin-bottom: $padding-medium;

  @media (min-width: $break-medium) {
    margin-bottom: $padding-large;
  }

  @media (min-width: $break-large) {
    margin-bottom: $padding-xlarge;
  }

  input {
    width: calc(100% - #{$padding-medium} * 2);
    margin: 0 $padding-medium;
    padding: $padding-xsmall 0;
    background-color: $background-primary-dark;
    border-radius: 3rem;
    transition: $speed-fast;
    font-size: .8em;
    text-align: center;

    &:hover,
    &:focus {
      background-color: $background-primary-darker;
    }

    @media (min-width: $break-medium) {
      width: calc(100% - #{$padding-large} * 2);
      margin: 0 $padding-large;
      padding: $padding-small 0;
      font-size: 1.1em;
    }

    @media (min-width: $break-large) {
      width: calc(100% - #{$padding-xlarge} * 2);
      margin: 0 $padding-xlarge;
    }
  }
}
