@import './utilities/variables';

.Suggestions {
  padding: 0 $padding-medium $padding-large;
  font-size: 1.2rem;
  line-height: 1.6em;
  text-align: center;

  @media (min-width: $break-medium) {
    padding: 0 $padding-large $padding-large;
  }

  @media (min-width: $break-large) {
    padding: 0 $padding-xlarge $padding-xlarge;
  }

  button {
    display: block;
    margin: $padding-xxsmall auto 0;
    padding: $padding-xxxsmall $padding-xxsmall;
    transition: background-color $speed-fast;
    border-radius: $border-radius;
    background-color: $accent-primary-lightest;
    color: $text-secondary;

    &:hover {
      background-color: $accent-primary;
    }

    @media (min-width: $break-small) {
      display: inline-block;
      margin-top: 0;
    }
  }
}
