@import './utilities/variables';

.Suggestions {
  padding: 0 $padding-medium $padding-large;
  font-size: 1.1rem;
  line-height: 2em;
  text-align: center;

  @media (min-width: $break-medium) {
    padding: 0 $padding-large $padding-large;
    font-size: 1.5rem;
  }

  @media (min-width: $break-large) {
    padding: 0 $padding-xlarge $padding-xlarge;
  }

  button {
    display: block;
    margin: 0 auto;
    padding: $padding-xxxsmall $padding-xxsmall;
    transition: background-color $speed-fast;
    border-radius: $border-radius;
    background-color: $accent-primary-lighter;
    color: $accent-primary;

    &:hover {
      background-color: $accent-primary-light;
    }

    @media (min-width: $break-small) {
      display: inline-block;
    }
  }
}
