@import './utilities/media';

.CurrentTags .Tag {
  font-size: 1.1em;
  white-space: nowrap;

  &::before {
    content: '+';
    margin: 0 .8rem;
  }

  &:first-of-type::before {
    content: '';
    margin: 0;
  }

  button {
    padding: 0 1rem;
    border-radius: 2rem;
    background-color: #fbfbfb;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    line-height: 2rem;

    &:hover {
      text-decoration: line-through;
      cursor: pointer;
    }

    @media (min-width: $break-medium) {
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      font-weight: bold;
    }
  }
}


.List .Tag {
  flex-grow: 1;
  margin: 1em 1em 0 0;

  button {
    width: 100%;
    border-radius: .3em;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(.97);
    }
  }

  span {
    display: block;
    padding: 0 2rem;
    background-color: #222;
    color: #fff;
    line-height: 2.5rem;

    &.has-image {
      background-color: rgba(0, 0, 0, .4);
    }
  }
}
